<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zpětná vazba z formuláře a aplikace</title>
</head>
<style>.container {
{#max-width: 800px#}{#width: 800px#} width: 1000px
}

.new-page {
    page-break-before: always;
}

.break-after {
    page-break-after: always;
}

.keep-together {
    page-break-inside: avoid;
}

{# from https://www.w3.org/Style/Examples/007/figures.en.html #}
figcaption {
    display: table-caption;
    caption-side: top;
{#text-align: center;#}
}

figure {
    display: table;
}
</style>
<body style="">
<h1>Feedback pro aplikaci</h1>
<div>
    <img src="{{ bar_chart_usage_path }}" alt="Bar chart plot usage">
    <img src="{{ bar_chart_bugs_path }}" alt="Bar chart plot bugs">
    <img src="{{ par_cat_path }}" alt="Parallel coordinates">
    {{ comments_html }}

    <div class="keep-together">
        <h3>Hodnocení aplikace z formuláře</h3>
        {{ app_feedback_html }}
        {{ app_feedback_2_html }}
    </div>

    {% for column, comments_html in per_column_comments.items() %}
        <div class="keep-together">
            <h3>Hodnocení aplikace v: {{ column }}</h3>
            {{ comments_html }}
        </div>
    {% endfor %}

</div>
</body>
</html>