<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zpětná vazba z formuláře</title>
</head>
<body style="">
<div>
    <img src="{{ par_cat_path }}" alt="Parallel coordinates plot">

    <img src="{{ bar_chart_path }}" alt="Bar chart plot">

    {{ comments_html }}
</div>
</body>
</html>